{% extends 'base.html' %}

<!-- Register a client to the system-->
{% block content %}
<div class="container mt-5">
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    {% if is_edit %}
                    <h4 class="mb-0">Update Client</h4>
                    {% else %}
                        <h4 class="mb-0">Register New Client</h4>
                    {% endif %}

                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_first_name" class="form-label">First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="mb-3">
                            <label for="id_last_name" class="form-label">Last Name</label>
                            {{ form.last_name }}
                        </div>
                        <div class="mb-3">
                            <label for="id_date_of_birth" class="form-label">Date of Birth</label>
                            {{ form.date_of_birth }}
                        </div>
                        <div class="mb-3">
                            <label for="id_gender" class="form-label">Gender</label>
                            {{ form.gender }}
                        </div>
                        <div class="mb-3">
                            <label for="id_contact_number" class="form-label">Contact Number</label>
                            {{ form.contact_number }}
                        </div>
                        <div class="mb-3">
                            <label for="id_address" class="form-label">Address</label>
                            {{ form.address }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                {% if is_edit %}
                                    Update Client
                                {% else %}
                                    Register Client
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
